markdown-it-py==3.0.0
shellingham==1.5.4
anyio==4.9.0
mlcolvar==1.2.2
jupyterlab==4.4.3
ptyprocess==0.7.0
rfc3339-validator==0.1.4
jedi==0.19.2
soupsieve==2.7
pytz==2025.2
prompt_toolkit==3.0.51
matplotlib-inline==0.1.7
h5py==3.14.0
mdurl==0.1.2
pyzmq==27.0.0
MarkupSafe==3.0.2
typing-inspection==0.4.1
nvidia-cuda-runtime-cu12==12.6.77
jupyterlab_server==2.27.3
aiosignal==1.3.2
termcolor==3.1.0
exceptiongroup==1.3.0
mygene==3.2.2
setuptools==78.1.1
nbclient==0.10.2
argon2-cffi-bindings==21.2.0
fonttools==4.58.4
pip==25.1
nvidia-nvjitlink-cu12==12.6.85
Jinja2==3.1.6
executing==2.2.0
arrow==1.3.0
asttokens==3.0.0
gitdb==4.0.12
modelcif==0.7
wrapt==1.17.2
jsonschema==4.24.0
defusedxml==0.7.1
click==8.2.1
overrides==7.7.0
yarl==1.20.1
zipp==3.23.0
mdtraj==1.10.3
types-python-dateutil==2.9.0.20250516
bioemu==0.1.12
jupyter-events==0.12.0
pox==0.3.6
hf-xet==1.1.5
uv==0.7.14
requests==2.32.4
widgetsnbextension==4.0.14
wheel==0.45.1
uri-template==1.3.0
platformdirs==4.3.8
PyYAML==6.0.2
biopython==1.85
lightning==2.5.2
nvidia-cublas-cu12==12.6.4.1
nvidia-nccl-cu12==2.26.2
huggingface-hub==0.33.0
nvidia-cudnn-cu12==9.5.1.17
h11==0.16.0
argon2-cffi==25.1.0
triton==3.3.1
pyEMMA==2.5.12
debugpy==1.8.14
idna==3.10
biothings_client==0.4.1
beautifulsoup4==4.13.4
jupyter_core==5.8.1
multiprocess==0.70.18
jupyter-lsp==2.2.5
nest_asyncio==1.6.0
ppft==1.7.7
joblib==1.5.1
tornado==6.5.1
httpx==0.28.1
nglview==3.1.4
wcwidth==0.2.13
pillow==11.2.1
stack_data==0.6.3
annotated-types==0.7.0
dill==0.4.0
frozenlist==1.7.0
bleach==6.2.0
GitPython==3.1.44
async-timeout==5.0.1
prometheus_client==0.22.1
Pygments==2.19.2
rpds-py==0.25.1
cffi==1.17.1
jsonpointer==3.0.0
sentry-sdk==2.30.0
pexpect==4.9.0
nvidia-cuda-nvrtc-cu12==12.6.77
tzdata==2025.2
smmap==5.0.2
importlib_metadata==8.7.0
referencing==0.36.2
nvidia-nvtx-cu12==12.6.77
typer==0.16.0
matplotlib==3.10.3
ipython==8.37.0
jupyterlab_widgets==3.0.15
python-dateutil==2.9.0.post0
decorator==5.2.1
msgpack==1.1.1
ipykernel==6.29.5
json5==0.12.0
Send2Trash==1.8.3
pydantic_core==2.33.2
attrs==25.3.0
absl-py==2.3.0
aiohttp==3.12.13
pydantic==2.11.7
protobuf==6.31.1
stackprinter==0.2.12
dm-tree==0.1.9
sniffio==1.3.1
fastjsonschema==2.21.1
async-lru==2.0.5
propcache==0.3.2
pickleshare==0.7.5
fsspec==2025.5.1
hydra-core==1.3.2
jsonschema-specifications==2025.4.1
webencodings==0.5.1
nvidia-cusparse-cu12==12.5.4.2
ihm==2.6
six==1.17.0
charset-normalizer==3.4.2
deeptime==0.4.5
nvidia-cuda-cupti-cu12==12.6.80
rich==14.0.0
pandocfilters==1.5.1
kiwisolver==1.4.8
nvidia-cufile-cu12==1.11.1.6
jupyterlab_pygments==0.3.0
fqdn==1.5.1
tinycss2==1.4.0
nvidia-cusparselt-cu12==0.6.3
antlr4-python3-runtime==4.9.3
pycparser==2.22
networkx==3.4.2
cycler==0.12.1
threadpoolctl==3.6.0
notebook_shim==0.2.4
cftime==1.6.4.post1
pyparsing==3.2.3
httpcore==1.0.9
KDEpy==1.1.12
mpmath==1.3.0
mistune==3.1.3
parso==0.8.4
scikit-learn==1.7.0
contourpy==1.3.2
jupyter_client==8.6.3
notebook==7.4.3
pytorch-lightning==2.5.2
terminado==0.18.1
ipywidgets==8.1.7
multidict==6.5.0
pandas==2.3.0
psutil==7.0.0
omegaconf==2.3.0
packaging==25.0
gprofiler-official==1.0.0
tqdm==4.67.1
netCDF4==1.7.2
torchmetrics==1.7.3
webcolors==24.11.1
jupyter_server_terminals==0.5.3
sympy==1.14.0
comm==0.2.2
torch-geometric==2.6.1
filelock==3.18.0
certifi==2025.6.15
nvidia-cusolver-cu12==11.7.1.2
websocket-client==1.8.0
nvidia-cufft-cu12==11.3.0.4
urllib3==2.5.0
torch==2.7.1
nvidia-curand-cu12==10.3.7.77
tomli==2.2.1
rfc3986-validator==0.1.1
python-json-logger==3.3.0
pooch==1.8.2
nbformat==5.10.4
numpy==2.2.6
pathos==0.3.4
scipy==1.15.3
jupyter_server==2.16.0
traitlets==5.14.3
fire==0.7.0
pure_eval==0.2.3
isoduration==20.11.0
nbconvert==7.16.6
babel==2.17.0
aiohappyeyeballs==2.6.1
lightning-utilities==0.14.3
wandb==0.20.1
typing_extensions==4.14.0
bio==1.8.0
setproctitle==1.3.6
bioemu==0.1.12
